 @import '../../scss/mixins.scss';

.auth {
  @include auth;
}

.disabled {
  opacity: .8;
  cursor: default!important;
  transition: none!important;
}

.enabled {
  &:hover {
    color: $green;
    background-color: transparent;
  }
}
