@import '../../scss/main.scss';

.auth {
  @include auth;
}

.disabled {
  opacity: .8;
  cursor: default!important;
  transition: none!important;
}

.enabled {
  &:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
  }
}
