@import '../../scss/mixins.scss';

.fa-chevron-circle-left {
  padding-right: 10px;
  padding-left: 0px!important;
  cursor: pointer;
}

.directions {
  padding-bottom: 20px;
}

.recipe {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  'title'
  'main'
  'footer';
  .modal-scroll {
    overflow: auto;
  }
}


.modal-content {
  @include desktop {
    width: 50%;
    margin: 0 auto;
  }
}
.ingredients {
  white-space: pre-line;
}
h3 {
  @include flexRow;
  justify-content: space-between;
}
.fa-edit {
  color: $primary;
  font-size: 30px;
  cursor: pointer;
}
#pot {
  text-align: center;
  padding-top: 10vh;
    img {
    width: 100px;
  }
  @include tablet {
    display: none;
  }
}
.bottom {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 90vw;
  text-align: center;
    button {
      @include button;
      @include desktop {
        margin: 0 auto;
      }
    }
    @include desktop {
      left: 0px;
      width: 100%;
    }
  }


.select {
  text-align: end;
  .basic-single {
    z-index: 2;
    margin-top: 10px;
  }
  button {
    margin: 20px 0px;
  }
}

.BounceLoader {
  @include flexColumn;
  align-items: center;
  height: 65vh;
  justify-content: center;

}

.view-recipe {
  margin: 0 auto;
  padding: 20px;
  ul {
    padding-left: revert!important;
  }
  h2 {
    font-size: 18px;
  }
  button {
    margin: 20px 0;
  }
  @include tablet {
    h2 {
      font-size: 20px;
    }
    > div {
      width: 75%;
      margin: 20px auto;
    }
  }
  @include desktop {
    width: 60%;
  }
  .section {
    padding: 0;
    .chip {
      font-weight: normal;
      &:hover {
        transform: none;
        cursor: inherit!important;
        background-color: $orange!important;
      }
    }
  }
  .default {
    margin: 10px 0;
    border-left: 1px solid $secondary;
    padding-left: 10px;
  }
}

#primary-color {
  background-color: $primary!important;
}

.options {
  padding: 10px 0;
}

.fr-box {
  margin: 10px 0;
}

#recipe-title {
   p, h3, h2, h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
 }

.view-recipe li {
   list-style-type: initial!important;
 }

 #images {
   padding: 20px 0;
   display: flex;
   flex-wrap: wrap;
   > div {
     flex-grow: 1;
     margin: 10px;
   }
   .recipe-image {
      background-size: cover;
      background-position: center;
      flex-grow: 1;
      min-width: 200px;
      height: 400px; 
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      @include desktop {
        min-width: 300px;
      }
   }
 }
