@import '../../scss/mixins.scss';

.fa-chevron-circle-left {
  padding-right: 10px;
  padding-left: 0px!important;
  cursor: pointer;
}

.directions {
  padding-bottom: 20px;
}

.recipe {
  @include flexColumn;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  align-items: flex-end;
  > div {
    width: 100%;
  }
  @include desktop {
    margin: 0 auto;
  }
  .ingredients {
    white-space: pre-line;
  }
  h3 {
    @include flexRow;
    justify-content: space-between;
  }
  .fa-edit {
    color: $primary;
    font-size: 30px;
    cursor: pointer;
  }
  #pot {
    text-align: center;
    padding-top: 10vh;
    img {
    width: 100px;
  }
  @include tablet {
    display: none;
  }
}
.bottom {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 90vw;
  text-align: center;
    button {
      @include button;
      @include desktop {
        margin: 0 auto;
      }
    }
    @include desktop {
      left: 0px;
      width: 100%;
    }
  }
}

.select {
  text-align: end;
  .basic-single {
    z-index: 2;
    margin-top: 10px;
  }
  button {
    margin: 20px 0px;
  }
}

.BounceLoader {
  @include flexColumn;
  align-items: center;
  height: 65vh;
  justify-content: center;

}

.viewRecipe {
  h2 {
    font-size: 18px;
  }
  button {
    margin: 20px 0;
  }
  @include tablet {
    h2 {
      font-size: 20px;
    }
    > div {
      width: 75%;
      margin: 0 auto;
    }
  }
  @include desktop {
    width: 60%;
  }
  .section {
    padding: 10px 0;
    h2 {
      border-left: 1px solid $secondary; 
      padding-left: 15px;
    }
    .chip {
      &:hover {
        background-color: white!important;
        color: $green!important;
        transform: none;
        cursor: inherit!important;
      }
    }
  }
  h3 {
    font-weight:800;
    color: $green;

  }
}

#delete {
  background-color: $orange!important;
}

.recipeTags {
  padding: 10px 0;
}

.input-field > label {
  font-size: 22px!important;
}