@import '../../../scss/mixins.scss';

.editEmail {
    @include tablet {
      width: 75%;
      margin: 0 auto;
    }
    @include desktop {
      width: 50%;
    }

  input {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
  }
  p {
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    @include tablet {
      font-size: 24px;
    }
  }
  label {
    font-size: 16px;
    @include tablet {
      font-size: 20px;
    }
  }
}
