@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';

.minHeight {
    min-height: 100px!important;
}

.modal-close-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > div {
        display: flex; 
        > button {
            flex-grow: 1;
        }
    }
    @media screen and (min-width: 530px) {
        flex-direction: row;
    }
    button {
        margin: 5px;
    }
    .grayBtn {
        background-color: $gray!important;
        color: $secondary;
    }
}

.collapsible {
    margin-top: 30px!important;
}

.collapsible-header p {
    margin: 0;
}

.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}


.chip {
    background-color: white!important;
    border: 1px solid $orange;
    color: $orange!important;
    cursor: pointer!important;
    transition: all .4s;
    &:hover {
        background-color: $orange!important;
        color: white!important;
        transform: translateY(-5px);
    }
}

.selectedTag {
    background-color: $orange!important;
    color: white!important;
}

.collapsible-body {
    text-align: left!important;
}

.add-button {
    background-color: $orange!important;
    margin-bottom: 10px;
    i {
        margin-left: 5px;
    }
}

.fr-box button {
    background-color: transparent!important; 
    &:hover,
    &:active {
        background-color: rgb(214, 214, 214)!important;
    }
}