@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';

// .select {
//     width: 200px;
// }

.minHeight {
    min-height: 100px!important;
}

.modal-close-buttons {
    display: flex;
    justify-content: space-between;
    button {
        margin: 5px;
    }
    .grayBtn {
        background-color: $gray!important;
        color: $secondary;
    }
}

.collapsible {
    margin-top: 30px!important;
}

.collapsible-header p {
    margin: 0;
}