
 #deletion-modal {
    padding: 20px;
    text-align: center;
    .modal-content {
      width: 100%;
    }
    .modal-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      button:last-of-type {
        margin-left: 10px;
      }
    }
  }