
@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.dropzone {
    border: 2px dashed $gray;
    cursor: pointer;
    position: relative;
    input {
        min-height: 300px; 
        display: block;
        width: 100%;
    }
    &:hover {
        i {
            color: $orange;
        }
    }
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        p {
            margin: 5px;
        }
        i {
            transition: color .5s;
            color: $primary;
            font-size: 100px;
            margin-top: 15px;
        }
    }
    button {
        margin: 15px;
    }
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        color: lighten($darkgray, 15%);
    }
    #input {
        opacity: 0;
        position: absolute;
    }
}

.files-list {
    padding: 15px 0;
}

.file-name {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    i {
        color: $gray;
        font-size: 20px;
        cursor: pointer;
    }
}