 @import '../../scss/mixins.scss';

.modalCustom {
  background: linear-gradient(290deg, $primary, $orange);
  position: fixed!important;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: hidden!important;
  width: 100%!important;
  padding: 10vw!important;
  z-index: 3;
  i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $white;
    font-size: 32px;
    cursor: pointer;
    transition: all .4s;
    &:hover {
      transform: scale(1.08)
    }
  }
  h3 {
    text-align: center;
  }
  h3, label {
    color: $white;
    font-family: 'Didact Gothic', sans-serif;
  }
  > div {
    @include tablet {
      width: 60%;
      margin: 0 auto;
    }
  }
  form {
    @include flexColumn;
    label {
      @include flexColumn;
      padding: 5px 0;
      p {
        margin: 0;
        padding: 5px;
        font-size: 18px;
        color: white;
        @include tablet {
          font-size: 22px;
        }
      }
    }
    input, select, textarea, #title {
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: white;
      color: $orange!important;
      font-weight: bold;
      text-align: left;
      font-family: 'Didact Gothic', sans-serif;
      padding: 10px;
      font-size: 16px;
      height: auto;
      @include tablet {
        font-size: 18px;
      }
    }
    input:first-child {
      color: white!important;
    }
    .tall {
      min-height: 125px;
    }
    button {
      @include button;
      color: $orange;
      background-color: white!important;
      font-weight: 800;
      margin-top: 15px;
      &:hover {
        background-color: darken(white, 10%)!important;
        color: $orange!important;
      }
    }
  }
}


.enabled {
  &:hover {
    color: $white;
    background-color: transparent;
    border-color: $white;
  }
}

#title {
  color: white!important;
  border-bottom: 2px solid white;
  width: auto;
  &:focus {
    border-bottom: 2px solid white!important;
  }
}
