 @import '../../../scss/mixins.scss';

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px;
    color: $orange;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    @include tablet {
      width: 55%;
    }
  }
  button {
    border: 2px solid white;
    
    &:hover {
      color: $white;
      background-color: transparent;
      border-color: white;
    }
  }
}
