@import '../../scss/mixins.scss';

.invalid-link {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  h3 {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
}

.resetPassword {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 30%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .MuiFormControl-root {
      min-width: 200px;
      @include desktop {
        min-width: 350px;
      }
    }
    button {
      margin-top: 10px;
    }
  }
  h2, h4 {
    color: $secondary;
  }
}
