@import '../../scss/mixins.scss';


.invalid-link {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  h3 {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }
}

.resetPassword {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 30%;
  }
  form {
  input {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid $green;
    outline: none;
    margin-top: 15px;
    @include tablet {
      font-size: 22px;
      padding: 10px;
    }
  }
  }
  h2, h4 {
    color: $secondary;
  }
}

  .error {
    background-color: $primary;
    padding: 10px;
    border-radius: 10px;
    margin: 5px auto;
    font-size: 16px;
    color: $white;
    @include tablet {
      margin-top: 10px;
    }
  }
