* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

label {
  color: '#353531' !important;
}

.quill {
  button {
    background-color: transparent !important;
  }
  .select-wrapper {
    display: none;
  }
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.MuiSnackbarContent-message {
  width: 100%;
  text-align: center;
}
