 @import '../../scss/mixins.scss';

.auth {
  @include auth;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-bottom: 10px;
    width: 225px;
  }
}

.abcRioButton {
  margin: 0 auto;
}

.googleButton {
  width: 225px!important;
  background-color: white!important;
}

#toast-container {
  top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 10%;
}

.toast {
  background-color:$primary!important;
}

