 @import '../../scss/mixins.scss';

.auth {
  @include auth;
}

.gradient {
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 68, 68, 0.826), rgba(221, 114, 68, 0.22));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-bottom: 10px;
    width: 225px;
  }
}

.googleButton {
  width: 225px!important;
  background-color: white!important;
  span {
    margin: 0 auto;
    font-weight: bold!important;
  }
}
