@import '../../../../scss/variables.scss';

.minHeight {
  min-height: 100px !important;
}

.addRecipe {
  box-shadow: 5px 1px 30px #868686;
  min-width: 150px;
  background-color: lighten($primary-transparent, 20%);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $primary;
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: $primary-transparent;
    i {
      transform: scale(1.15);
    }
  }
  > i {
    color: $white;
    font-size: 50px;
    transition: all 0.4s;
  }
}

.modal-close-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 530px) {
    flex-direction: row-reverse;
  }
  button {
    margin: 5px;
    @media screen and (min-width: 530px) {
      margin: 0;
    }
  }
  .edit {
    display: flex;
    #cancel {
      flex-grow: 1;
    }
  }
}

.collapsible {
  margin-top: 30px !important;
}

.collapsible-header p {
  margin: 0;
}

.chip {
  cursor: pointer !important;
  transition: all 0.4s;
  &:hover {
    background-color: $orange !important;
    color: white !important;
  }
}

.selectedTag {
  background-color: $orange !important;
  color: white !important;
}

.collapsible-body {
  text-align: left !important;
}

.add-button {
  background-color: $orange !important;
  margin-bottom: 10px;
  color: white !important;
}
