
h1, h2, h3, h4, h5, h6 {
    padding: 8px 0;
    margin: 0;
}

body {
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
}

// color variables

$primary: #dd4444;
$secondary: #353531;
$green: #689943;
$white: #FFFFFF;

@mixin flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;

}

@mixin button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 22px;
  transition: all .3s;
}

@mixin auth {
    min-height: 100vh;
    background-image: url('../../images/kitchen.jpg');
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 5vh;
    h1 {
      font-family: 'Lancelot', cursive;
      color: $white;
    }
    form {
      @include flexColumn;
      width: 70%;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.5);
      padding: 5vw;
      border-radius: 30px;
      label {
        @include flexColumn;
        padding: 5px 0;
        font-family: 'Didact Gothic', sans-serif;
        color: $white;
      }
      input {
        //margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        outline: none;
      }
      button {
        @include button;
        width: 50%;
        margin: 20px auto;
        background-color: $green;
        color: $white;
        &:hover {
          color: $green;
          background-color: $white;
        }
      }
    }
}
