
h1, h2, h3, h4, h5, h6 {
    padding: 8px 0;
    margin: 0;
  }

#app {
  min-height: 100vh;
}

@mixin flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin button {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  cusor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 22px;
}
