
@import './mixins.scss';
@import './variables.scss';

body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

label {
  color: $secondary!important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $secondary!important;
}

.chip {
  margin: 8px 2px!important;
}

.auth {
  .input-field input {
    border-bottom: 1px solid white!important;
  }
}

.quill {
  button {
    background-color: transparent!important;
  }
  .select-wrapper {
    display: none;
  }
}

button {
  i {
    font-size: 1.2rem;
  }
}

.BounceLoader {
  @include flexColumn;
  align-items: center;
  height: 100%;
  justify-content: center;
}


.spinner-layer {
  border-color: white!important;
}

html, body {
  height: 100%;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      'header'
      'main';
}

#confirmation-modal {
  max-width: 400px;
}

.MuiSnackbarContent-message {
  width: 100%;
  text-align: center;
}
