@media only screen and (min-width: 800px) {
  .auth form {
    width: 50%;
    padding: 2vw;
    label {
      font-size: 20px;
    }
    button {
      width: 50%;
    }
  }
  .auth .error {
    margin-top: 10px;
    width: 70%;
  }

  .dashboard .recipeCard,
  .dashboard .addRecipe {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .auth form {
    width: 30%;
  }
}
