@import './variables.scss';

// media query mixins

@mixin tablet {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;

}

@mixin button {
  font-size: 18px;
  background-color: $green;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Didact Gothic', sans-serif;
  transition: all .3s;
  &:hover {
    background-color: darken($green, 5%);
  }
}

@mixin auth {
    min-height: 100vh;
    background-image: url('../../images/kitchen.jpg');
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 5vh;
    .error {
      font-family: 'Didact Gothic', sans-serif;
      background-color: $primary;
      padding: 10px;
      border-radius: 10px;
      margin: 5px auto;
      font-size: 16px;
      color: $white;
      @include tablet {
        margin-top: 10px;
        width: 70%;
      }
    }
    h1 {
      font-family: 'Lancelot', cursive;
      color: $white;
    }
    form {
      @include flexColumn;
      width: 70%;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.5);
      padding: 5vw;
      border-radius: 10px;
      @include tablet {
        width: 50%;
        padding: 2vw;
        label {
          font-size: 20px;
        }
        button {
          width: 50%;
        }
      }
      @include desktop {
        width: 30%;
      }
      label, p {
        @include flexColumn;
        padding: 5px 0;
        font-family: 'Didact Gothic', sans-serif;
        color: $white;
      }
      p {
        font-size: 20px;
        display: inline;
      }
      .link {
        color: $green;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
      }
      input {
        //margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        outline: none;
        text-align: left!important;
      }
      button {
        @include button;
        
        background-color: $green;
        color: $white;
        
      }
    }
}
