@import './variables.scss';

// media query mixins

@mixin tablet {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;

}

@mixin button {
  // font-size: 18px;
  background-color: $green!important;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  transition: all .3s;
  &:hover {
    background-color: darken($green, 5%)!important;
  }
}

@mixin auth {
    background-image: url('../../images/ingredients.jpg');
    background-size:cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .error {
      font-family: 'Roboto', sans-serif;
      background-color: $orange;
      padding: 10px;
      border-radius: 5px;
      margin: 5px auto;
      font-size: 16px;
      color: $white;
      @include tablet {
        margin-top: 10px;
        width: 100%;
      }
    }
    form {
      @include flexColumn;
      width: 100%;
      margin: 0 auto;
      padding: 5vw;
      border-radius: 0px;
      background-color: $secondary;
      box-shadow: 0px 10px 30px $secondary;
      height: 100%;
      label {
        color: white!important;
      }
      input {
        color: white!important;
      }
      @include tablet {
        height: auto;
        width: 50%;
        border-radius: 10px;
        padding: 40px;
      }
      @include desktop {
        width: 40%;
        max-width: 400px;
        height: auto;
      }
      p {
        font-size: 20px;
      }
      .link {
        color: $green;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
      }
      .googleButton {
        width: 225px!important;
        background-color: white!important;
        &:hover {
          background-color: darken(white, 15%)!important;
        }
      }
    }
}
