// color variables

$primary: #e66c6c; 
$primary-transparent: rgba(230, 108, 108, 0.29);
$orange: #dd7244;
$orange-transparent: rgba(221, 114, 68, 0.42);
$primary-transparent: rgba(331, 68, 68, 0.2);
$secondary: #353531;
$secondary-light:  #3535317a;
$darkgray: #353535;
$green: #87ad6a; 
$green-transparent: rgba(104, 153, 67, 0.7);
$white: #FFFFFF;
$gray: #dbdbdb;
