// color variables

$primary: #dd4444;
$orange: #dd7244;
$primary-transparent: rgba(331, 68, 68, 0.5);
$secondary: #353531;
$green: #689943;
$green-transparent: rgba(104, 153, 67, 0.7);
$white: #FFFFFF;
