@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

nav {
  @include flexRow;
  background-color: $secondary;
  justify-content: space-between;
  align-items: center;
  img {
    height: 55px;
    margin: 10px;
  }
  div {
    padding-right: 10px;
    a {
      font-family: 'Didact Gothic', sans-serif;
      color: $white;
      padding: 15px;
      margin-left: 5px;
      text-decoration: none;
      font-size: 20px;
      border-radius: 15px;
      &:hover {
        //color: $secondary;
        background-color: $green;
      }
    }
  }
  .active {
    background-color: $green;
  }
}
