@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

nav {
  display: flex !important;
  @include flexRow;
  background-color: $secondary !important;
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  overflow: hidden;
  flex-wrap: nowrap;
  @include tablet {
    height: 70px !important;
  }
  a {
    line-height: 0px;
  }
  i {
    height: auto;
  }
  img {
    height: 35px;
    @include tablet {
      height: 40px;
    }
  }
  div {
    display: flex;
    align-items: center;
    height: 75px;
    > div {
      height: 100%;
      overflow: hidden;
      display: flex;
    }
    a {
      color: $white;
      line-height: 75px;
      padding: 0 20px;
      text-decoration: none;
      height: 100%;
      font-size: 20px;
      transition: background-color 0.3s;
      cursor: pointer;
      &:hover {
        background-color: lighten($secondary, 10%);
      }
    }
  }
  .active {
    background-color: lighten($secondary, 10%);
  }
}
