@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.title {
  background-color: $green;
  color: $white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  i {
    font-size: 30px;
  }
  p {
    margin: 0;
  }
  h2 {
    padding: 0;
    font-weight: normal;
  }
}

.settings {
  width: 90%;
  margin: 0 auto;
  padding: 4vh 0;
  .MuiTextField-root {
    padding: 10px 0;
  }
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 35%;
  }
  > #profile-container {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    #profile {
      @include flexRow;
      align-items: center;
      i {
        color: $secondary;
        font-size: 60px;
        padding-right: 15px;
      }
    }
  }
  h2, h3, p {
    color: $secondary;
  }
  #table {
    padding: 2vw 0;
  }
  .row {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    > div {
      flex-grow: 1;
    }
    p {
      margin: 0;
      color: $secondary;
    }
    border-bottom: 1px solid $secondary;
    padding: 8px 0;
  }
  .passwordMessage {
    text-align: center;
  }
}

#bold {
  font-weight: 800;
  font-style: italic;
}

#delete {
  background-color: $primary!important;
}

.MuiAccordionDetails-root {
  display: flex;
  flex-direction: column; 
}

.MuiAccordionSummary-content i {
  margin-right: 8px;
}

.accordion-summary {
  display: flex;
  align-items: center;
}