

#filter-button {
    background-color: white;
}

#menu {
    min-width: 175px;
    li, p {
        padding: 0 10px;
    }
}

.option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}